@import "tailwindcss";

@font-face {
  font-family: GeneralSans;
  src: url("../fonts/GeneralSans-Variable.ttf");
}

@layer base {
  * {
    font-family: GeneralSans;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
